#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vw;
    gap: 10px;
}

button {
    padding: 5px 10px;
    font-size: 18px;
    width: 100px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    background: salmon;
}

button:hover {
    text-decoration: underline;
    color: black;
}

input {
    font-size: 18px;
    padding: 5px 10px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
}

